<ion-view title="Player">
    <div class="bar bar-header bar-dark">
      <h1 class="title">WRAS 88.5 - Album 88</h1>
    </div>
  <ion-content class="has-header" scroll="false" style="padding: 1em;">
    <img class="full-image" src="img/wras-stereo-odyssey-logo.png" />
    <small style="color: rgb(204, 204, 204);">All logos, copyrights, and trademarks belong to their respective registered owners.</small>
    <div class="bar bar-footer">
      <div class="button-bar" ng-show="showControls">
        <a class="button button-dark icon ion-play" ng-style="playStyle" ng-click="playStream()"></a>
        <a class="button button-dark icon ion-pause" ng-style="pauseStyle" ng-click="pauseStream()"></a>
        <a class="button button-dark icon ion-refresh" ng-click="refreshStream()"></a>
      </div>
    </div>
  </ion-content>
</ion-view>
<script id="connection-error.html" type="text/ng-template">
  <ion-modal-view>
    <ion-header-bar>
      <h1 class="title">No Network Connection</h1>
    </ion-header-bar>
    <ion-content scroll="false">
      <div class="card">
        <div class="item item-text-wrap">
          <p>There was an error connecting to the stream. Please check you internet connection and try again later.</p>
          <button class="button button-block" ng-click="connectionWarning.hide()">Return</button>
        </div>
      </div>
    </ion-content>
  </ion-modal-view>
</script>